<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ib/IdeaProjects/poei-selenium-ft/src/test/java/carrefour/scenario1/TestPageObjet.java">
        <classes>
            <class name="test.java.carrefour.scenario1.TestPageObjet">
                <methods><include name="testScenario_1"/></methods>
            </class>

            <class name="test.java.carrefour.scenario1.TestScenarioGlobal">
                <methods><include name="testScenario_2"/></methods>
            </class>

        </classes>
    </test>
    <!--
    <test verbose="2" preserve-order="true" name="C:/Users/ib/IdeaProjects/poei-selenium-ft/src/test/java/carrefour/scenario1/TestScenarioGlobal.java">
        <classes>
            <class name="carrefour.scenario1.TestScenarioGlobal">
                <methods><include name="testScenario_1"/></methods>
            </class>
        </classes>
    </test>
    -->
</suite>